# Datan esikäsittely
Aluksi muutimme käsin .arff tiedoston .csv- tiedostoksi. Siistimme myös tiedostosta muutamasta rivistä ylimääräiset pilkut.

In [1]:
import pandas as pd
df = pd.read_csv("chronic_kidney_disease.csv", sep=",", na_values=["", " ", "?", "\t?", "?\t"], decimal=".")
df

,age,blood_pressure,specific_gravity,albumin,sugar,rbc,pc,pcc,ba,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

In [2]:
df.drop(columns=['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'su'], inplace=True)
df

,age,blood_pressure,specific_gravity,albumin,sugar,blood_glucose_random,blood_urea,sodium,potassium,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,15.4,44.0,7800.0,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,11.3,38.0,6000.0,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,9.6,31.0,7500.0,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,11.2,32.0,6700.0,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,11.6,35.0,7300.0,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,150.0,4.9,15.7,47.0,6700.0,4.9,notckd
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,141.0,3.5,16.5,54.0,7800.0,6.2,notckd
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,137.0,4.4,15.8,49.0,6600.0,5.4,notckd
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,135.0,4.9,14.2,51.0,7200.0,5.9,notckd
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,141.0,3.5,15.8,53.0,6800.0,6.1,notckd

## Datan karsiminen
Ylemmässä koodisolussa poistimme turhat sarakkeet, joita ei pyydetty tehtävänannossa. Seuraavaksi tulemme etsimään ja poistamaan kaikki uniikit arvot.

In [12]:
df.describe(include='all')

,age,blood_pressure,specific_gravity,albumin,sugar,blood_glucose_random,blood_urea,sodium,potassium,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,class
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,313.000000,312.000000,348.000000,329.000000,294.000000,269.000000,400
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ckd
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435,NaN
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,10.408752,3.193904,2.912587,8.990105,2944.474190,1.025323,NaN
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000,NaN
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,135.000000,3.800000,10.300000,32.000000,6500.000000,3.900000,NaN
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,138.000000,4.400000,12.650000,40.000000,8000.000000,4.800000,NaN
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,142.000000,4.900000,15.000000,45.000000,9800.000000,5.400000,NaN
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000,NaN

In [4]:
df.packed_cell_volume.unique()

array([44., 38., 31., 32., 35., 39., 36., 33., 29., 28., nan, 16., 24.,
       37., 30., 34., 40., 45., 27., 48., 52., 14., 22., 18., 42., 17.,
       46., 23., 19., 25., 41., 26., 15., 21., 43., 20., 47.,  9., 49.,
       50., 53., 51., 54.])

In [5]:
# df.packed_cell_volume = df.packed_cell_volume.str.extract('(\\d+)', expand=False)

## Datan muuttaminen
Kahdessa yllä olevassa solussa

In [6]:
df.red_blood_cell_count.unique()

array([5.2, nan, 3.9, 4.6, 4.4, 5. , 4. , 3.7, 3.8, 3.4, 2.6, 2.8, 4.3,
       3.2, 3.6, 4.1, 4.9, 2.5, 4.2, 4.5, 3.1, 4.7, 3.5, 6. , 2.1, 5.6,
       2.3, 2.9, 2.7, 8. , 3.3, 3. , 2.4, 4.8, 5.4, 6.1, 6.2, 6.3, 5.1,
       5.8, 5.5, 5.3, 6.4, 5.7, 5.9, 6.5])

In [7]:
# df.white_blood_cell_count = df.white_blood_cell_count.str.extract('(\\d+)', expand=False)
# df.red_blood_cell_count = df.red_blood_cell_count.str.extract('(\\d+)', expand=False)

In [8]:
df['class'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [9]:
for i in df.columns:
    if df[i].dtypes == 'object':
        df[i] = df[i].str.replace("\t", "")

In [10]:
df.dtypes

age                       float64
blood_pressure            float64
specific_gravity          float64
albumin                   float64
sugar                     float64
blood_glucose_random      float64
blood_urea                float64
sodium                    float64
potassium                 float64
hemoglobin                float64
packed_cell_volume        float64
white_blood_cell_count    float64
red_blood_cell_count      float64
class                      object
dtype: object

In [11]:
df.packed_cell_volume = df.packed_cell_volume.astype(float)
df.white_blood_cell_count = df.white_blood_cell_count.astype(float)
df.red_blood_cell_count = df.red_blood_cell_count.astype(float)

df['class'] = pd.Categorical(df['class'])
df['class'] = df['class'].astype('category')
df.dtypes

age                        float64
blood_pressure             float64
specific_gravity           float64
albumin                    float64
sugar                      float64
blood_glucose_random       float64
blood_urea                 float64
sodium                     float64
potassium                  float64
hemoglobin                 float64
packed_cell_volume         float64
white_blood_cell_count     float64
red_blood_cell_count       float64
class                     category
dtype: object

In [13]:
df['class'] = df['class'].map({'ckd': 'a', 'notckd': 'c'})
df['class'].unique()